<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todoMVC</title>
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="todoApp">
        <header>
            <h1>todos</h1>
            <input type="text" v-model="todoText" @keyup.enter="addTodo" />
        </header>
        <section v-show="todos.length">
            <input type="checkbox" v-model="allDone">
            <ul>
                <li v-for="todo in filteredTodos">
                    <div :class="{upperShow:isUpper}">
                        <input type="checkbox" v-model="todo.completed" />
                        <label @dblclick="hideUpper($event,todo)">{{todo.title}}</label>
                        <button class="btn-delete" @click="removeTodo(todo)"></button>
                    </div>
                    <input type="text" class="lowerShow" v-model="todo.title" @keyup.enter="doneEdit(todo)" @blur="doneEdit(todo)" @keyup.esc="cancelEdit(todo)" />
                </li>
            </ul>
        </section>
        <footer v-show="todos.length">
            <label>{{remaining}} {{plural}} left</label>
            <ul>
                <li><a href="#/all">All</a></li>
                <li><a href="#/active">Active</a></li>
                <li><a href="#/done">Done</a></li>
            </ul>
            <button @click="removeCompleted"></button>
        </footer>
    </div>

    <script src="node_modules/director/build/director.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/store.js"></script>
    <script src="js/app.js"></script>
    <script src="js/route.js"></script>
</body>

</html>