<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todoMVC</title>
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="todoApp">
        <header>
            <h1>todos</h1>
            <input type="text" class="mainInput" v-model="todoText" @keyup.enter="addTodo" />
        </header>
        <section v-show="todos.length">
            <input type="checkbox" id="allDoneInput" v-model="allDone">
            <label for="allDoneInput">click this label change all todos into completed </label>
            <ul>
                <li class="todo-list" v-for="todo in filteredTodos" :class="{edit:todo==editedTodo}">
                    <div class="coverLabel">
                        <input class="checkInput" type="checkbox" v-model="todo.completed" />
                        <label @dblclick="beginEdit(todo)">{{todo.title}}</label>
                        <button class="btn-delete" @click="removeTodo(todo)"></button>
                    </div>
                    <input v-text-focus="todo==editedTodo" type="text" class="baseInput" v-model="todo.title"
                        @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)" @blur="doneEdit(todo)" />
                </li>
            </ul>
        </section>
        <footer v-show="todos.length">
            <label id="tips">{{remaining}} {{plural('item',remaining)}} left</label>
            <ul>
                <li><a href="#/all" :class="{selected:visibility=='all'}">All</a></li>
                <li><a href="#/active" :class="{selected:visibility=='active'}">Active</a></li>
                <li><a href="#/done" :class="{selected:visibility=='done'}">Done</a></li>
            </ul>
            <button v-show="todos.length>remaining" class="btn-removeDone" @click="removeCompleted">deleteDone</button>
        </footer>
    </div>

    <script src="node_modules/director/build/director.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/store.js"></script>
    <script src="js/app.js"></script>
    <script src="js/route.js"></script>
</body>

</html>