<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todoMVC</title>
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="todoApp">
        <header>
            <h1>todos</h1>
            <input type="text" v-model="todoText" @keyup.enter="addTodo"/>
        </header>
        <section v-show="todos.length">
            <input type="checkbox" v-model="allDone">
            <ul>
                <li v-for="todo in todos">
                    <input type="checkbox" v-model="todo.completed"/>
                    <input type="text" 
                    v-model="todo.title" 
                    :readonly="readOnlyState" 
                    @dblclick="removeReadOnly($event)" @keyup.enter="setReadOnly" @blur="setReadOnly"/>
                    <button class="btn-delete" @click="removeTodo(todo)"></button>
                </li>
            </ul>
        </section>
        <footer v-show="todos.length">
            <label></label>
            <ul></ul>
            <button @click="removeCompleted"></button>
        </footer>
    </div>

    <script src="node_modules/director/build/director.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/store.js"></script>
    <script src="js/app.js"></script>
    <script src="js/route.js"></script>
</body>

</html>